<header>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="nav-container">
      <%= link_to "#collect_a_matron", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li class="top-nav">
            <% if current_user %>
            <span class="nickname"> <%= "Start Collectin'  " %> </span> <%= current_user.nickname %>
            <% end %>
          </li>

            <% if current_user %>

              <% if request.path != new_subscription_path %>
                <li class="nav-toggle-link all-pics">My Pictures</li>
                <li class="nav-toggle-link my-pics hidden">Show All</li>
              <% end %>

              <li class="subscribe-link"><%= link_to "Subscribe", new_subscription_path, :method => :get %></li>
              <li><%= link_to "Logout", sessions_path, :method => :delete %></li>

            <% else %>
              <li><%= link_to "Connect to Instagram!", auth_instagram_path %></li>
            <% end %>

        </ul>
      </nav>
    </div>
  </div>
</div>

</header>
